//
// social.scss
//

.social-list-item {
  height: 2rem;
  width: 2rem;
  line-height: calc(2rem - 2px);
  display: block;
  border: 2px solid var(--#{$prefix}dark-border-subtle);
  border-radius: 50%;
  color: var(--#{$prefix}dark-border-subtle);

  &:hover {
    color: var(--#{$prefix}secondary-text-emphasis);
    border-color: var(--#{$prefix}secondary-text-emphasis);
  }
}
